@font-face {
  font-family: 'tph-icn-font';
  src:  url('fonts/tph-icn-font.eot?pquhxv');
  src:  url('fonts/tph-icn-font.eot?pquhxv#iefix') format('embedded-opentype'),
    url('fonts/tph-icn-font.ttf?pquhxv') format('truetype'),
    url('fonts/tph-icn-font.woff?pquhxv') format('woff'),
    url('fonts/tph-icn-font.svg?pquhxv#tph-icn-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tph-icn-"], [class*=" tph-icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tph-icn-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tph-icn-logo:before {
  content: "\e927";
}
.tph-icn-benchmarking:before {
  content: "\e900";
}
.tph-icn-company-light:before {
  content: "\e901";
}
.tph-icn-company:before {
  content: "\e902";
}
.tph-icn-costing:before {
  content: "\e903";
}
.tph-icn-help-center-circle:before {
  content: "\e904";
}
.tph-icn-help-center-hexa:before {
  content: "\e905";
}
.tph-icn-help-center-light-circle-full:before {
  content: "\e906";
}
.tph-icn-help-center-light-circle:before {
  content: "\e907";
}
.tph-icn-help-center-light-hexa-full:before {
  content: "\e908";
}
.tph-icn-help-center-light-hexa:before {
  content: "\e909";
}
.tph-icn-help-center-light:before {
  content: "\e90a";
}
.tph-icn-help-center:before {
  content: "\e90b";
}
.tph-icn-mail-circle:before {
  content: "\e90c";
}
.tph-icn-mail-hexa:before {
  content: "\e90d";
}
.tph-icn-mail-light-circle-full:before {
  content: "\e90e";
}
.tph-icn-mail-light-circle:before {
  content: "\e90f";
}
.tph-icn-mail-light-hexa-full:before {
  content: "\e910";
}
.tph-icn-mail-light-hexa:before {
  content: "\e911";
}
.tph-icn-mail-light:before {
  content: "\e912";
}
.tph-icn-mail:before {
  content: "\e913";
}
.tph-icn-reviews-light:before {
  content: "\e914";
}
.tph-icn-reviews .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.tph-icn-reviews .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tph-icn-reviews .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tph-icn-reviews .path4:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tph-icn-rfq:before {
  content: "\e919";
}
.tph-icn-settings-light:before {
  content: "\e91a";
}
.tph-icn-settings:before {
  content: "\e91b";
}
.tph-icn-signout-light:before {
  content: "\e91c";
}
.tph-icn-signout:before {
  content: "\e91d";
}
.tph-icn-sourcing:before {
  content: "\e91e";
}
.tph-icn-user-circle:before {
  content: "\e91f";
}
.tph-icn-user-hexa:before {
  content: "\e920";
}
.tph-icn-user-light-circle-full:before {
  content: "\e921";
}
.tph-icn-user-light-circle:before {
  content: "\e922";
}
.tph-icn-user-light-hexa-full:before {
  content: "\e923";
}
.tph-icn-user-light-hexa:before {
  content: "\e924";
}
.tph-icn-user-light:before {
  content: "\e925";
}
.tph-icn-user:before {
  content: "\e926";
}
