@font-face {
  font-family: 'tph-icn-font';
  src:  url('fonts/tph-icn-font.eot?qbq7kr');
  src:  url('fonts/tph-icn-font.eot?qbq7kr#iefix') format('embedded-opentype'),
    url('fonts/tph-icn-font.ttf?qbq7kr') format('truetype'),
    url('fonts/tph-icn-font.woff?qbq7kr') format('woff'),
    url('fonts/tph-icn-font.svg?qbq7kr#tph-icn-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tph-icn-"], [class*=" tph-icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tph-icn-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tph-icn-mysup-circle:before {
  content: "\e9cc";
}
.tph-icn-mysup-hexa:before {
  content: "\e9cd";
}
.tph-icn-mysup-light-circle-full:before {
  content: "\e9ce";
}
.tph-icn-mysup-light-circle:before {
  content: "\e9cf";
}
.tph-icn-mysup-light-hexa-full:before {
  content: "\e9d0";
}
.tph-icn-mysup-light-hexa:before {
  content: "\e9d1";
}
.tph-icn-mysup-light:before {
  content: "\e9d2";
}
.tph-icn-mysup:before {
  content: "\e9d3";
}
.tph-icn-Plan-de-travail-13 .path1:before {
  content: "\e9d4";
  color: rgb(225, 229, 235);
}
.tph-icn-Plan-de-travail-13 .path2:before {
  content: "\e9d5";
  margin-left: -0.89453125em;
  color: rgb(225, 229, 235);
}
.tph-icn-Plan-de-travail-13 .path3:before {
  content: "\e9d6";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path4:before {
  content: "\e9d7";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path5:before {
  content: "\e9d8";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path6:before {
  content: "\e9d9";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path7:before {
  content: "\e9da";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path8:before {
  content: "\e9db";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path9:before {
  content: "\e9dc";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path10:before {
  content: "\e9dd";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path11:before {
  content: "\e9de";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path12:before {
  content: "\e9df";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path13:before {
  content: "\e9e0";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path14:before {
  content: "\e9e1";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path15:before {
  content: "\e9e2";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path16:before {
  content: "\e9e3";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path17:before {
  content: "\e9e4";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path18:before {
  content: "\e9e5";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path19:before {
  content: "\e9e6";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path20:before {
  content: "\e9e7";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path21:before {
  content: "\e9e8";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-13 .path22:before {
  content: "\e9e9";
  margin-left: -0.89453125em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1322:before {
  content: "\e9ea";
}
.tph-icn-arrow-down-circle:before {
  content: "\e949";
}
.tph-icn-arrow-down-hexa:before {
  content: "\e94a";
}
.tph-icn-arrow-down-light-circle-full:before {
  content: "\e94b";
}
.tph-icn-arrow-down-light-circle:before {
  content: "\e94c";
}
.tph-icn-arrow-down-light-hexa-full:before {
  content: "\e94d";
}
.tph-icn-arrow-down-light-hexa:before {
  content: "\e94e";
}
.tph-icn-arrow-down-light:before {
  content: "\e94f";
}
.tph-icn-arrow-down:before {
  content: "\e950";
}
.tph-icn-arrow-left-circle:before {
  content: "\e951";
}
.tph-icn-arrow-left-hexa:before {
  content: "\e952";
}
.tph-icn-arrow-left-light-circle-full:before {
  content: "\e953";
}
.tph-icn-arrow-left-light-circle:before {
  content: "\e954";
}
.tph-icn-arrow-left-light-hexa-full:before {
  content: "\e955";
}
.tph-icn-arrow-left-light-hexa:before {
  content: "\e956";
}
.tph-icn-arrow-left-light:before {
  content: "\e957";
}
.tph-icn-arrow-left:before {
  content: "\e958";
}
.tph-icn-arrow-right-circle:before {
  content: "\e959";
}
.tph-icn-arrow-right-hexa:before {
  content: "\e95a";
}
.tph-icn-arrow-right-light-circle-full:before {
  content: "\e95b";
}
.tph-icn-arrow-right-light-circle:before {
  content: "\e95c";
}
.tph-icn-arrow-right-light-hexa:before {
  content: "\e95d";
}
.tph-icn-arrow-right-light-hexafull:before {
  content: "\e95e";
}
.tph-icn-arrow-right-light:before {
  content: "\e95f";
}
.tph-icn-arrow-right:before {
  content: "\e960";
}
.tph-icn-arrow-up-circle:before {
  content: "\e961";
}
.tph-icn-arrow-up-hexa:before {
  content: "\e962";
}
.tph-icn-arrow-up-light-circle-full:before {
  content: "\e963";
}
.tph-icn-arrow-up-light-circle:before {
  content: "\e964";
}
.tph-icn-arrow-up-light-hexa-full:before {
  content: "\e965";
}
.tph-icn-arrow-up-light-hexa:before {
  content: "\e966";
}
.tph-icn-arrow-up-light:before {
  content: "\e967";
}
.tph-icn-arrow-up:before {
  content: "\e968";
}
.tph-icn-company-circle:before {
  content: "\e969";
}
.tph-icn-company-hexa:before {
  content: "\e96a";
}
.tph-icn-company-light-circle-full:before {
  content: "\e96b";
}
.tph-icn-company-light-circle:before {
  content: "\e96c";
}
.tph-icn-company-light-hexa-full:before {
  content: "\e96d";
}
.tph-icn-company-light-hexa:before {
  content: "\e96e";
}
.tph-icn-cross-circle:before {
  content: "\e96f";
}
.tph-icn-cross-hexa:before {
  content: "\e970";
}
.tph-icn-cross-light-circle-full:before {
  content: "\e971";
}
.tph-icn-cross-light-circle:before {
  content: "\e972";
}
.tph-icn-cross-light-hexa-full:before {
  content: "\e973";
}
.tph-icn-cross-light-hexa:before {
  content: "\e974";
}
.tph-icn-cross-light:before {
  content: "\e975";
}
.tph-icn-cross:before {
  content: "\e976";
}
.tph-icn-id-circle:before {
  content: "\e977";
}
.tph-icn-id-hexa:before {
  content: "\e978";
}
.tph-icn-id-light-circle-full:before {
  content: "\e979";
}
.tph-icn-id-light-circle:before {
  content: "\e97a";
}
.tph-icn-id-light-hexa-full:before {
  content: "\e97b";
}
.tph-icn-id-light-hexa:before {
  content: "\e97c";
}
.tph-icn-id-light:before {
  content: "\e97d";
}
.tph-icn-id:before {
  content: "\e97e";
}
.tph-icn-import-circle:before {
  content: "\e97f";
}
.tph-icn-import-hexa:before {
  content: "\e980";
}
.tph-icn-import-light-circle-full:before {
  content: "\e981";
}
.tph-icn-import-light-circle:before {
  content: "\e982";
}
.tph-icn-import-light-hexa-full:before {
  content: "\e983";
}
.tph-icn-import-light-hexa:before {
  content: "\e984";
}
.tph-icn-import-light:before {
  content: "\e985";
}
.tph-icn-import:before {
  content: "\e986";
}
.tph-icn-logo-circle:before {
  content: "\e987";
}
.tph-icn-logo-hexa:before {
  content: "\e988";
}
.tph-icn-logo-light-circle-full:before {
  content: "\e989";
}
.tph-icn-logo-light-hexa-full:before {
  content: "\e98a";
}
.tph-icn-logo-light-hexa:before {
  content: "\e98b";
}
.tph-icn-logo-light:before {
  content: "\e98c";
}
.tph-icn-logo-lighter-circle:before {
  content: "\e98d";
}
.tph-icn-part-circle:before {
  content: "\e98e";
}
.tph-icn-part-hexa:before {
  content: "\e98f";
}
.tph-icn-part-light-circle-full:before {
  content: "\e990";
}
.tph-icn-part-light-circle:before {
  content: "\e991";
}
.tph-icn-part-light-hexa-full:before {
  content: "\e992";
}
.tph-icn-part-light-hexa:before {
  content: "\e993";
}
.tph-icn-part-light:before {
  content: "\e994";
}
.tph-icn-part:before {
  content: "\e995";
}
.tph-icn-Plan-de-travail-1 .path1:before {
  content: "\e996";
  color: rgb(225, 229, 235);
}
.tph-icn-Plan-de-travail-1 .path2:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(225, 229, 235);
}
.tph-icn-Plan-de-travail-1 .path3:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path4:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path5:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path6:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path7:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path8:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path9:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path10:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path11:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path12:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path13:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path14:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path15:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path16:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path17:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path18:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path19:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path20:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path21:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-1 .path22:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-132:before {
  content: "\e9ac";
}
.tph-icn-reviews-circle:before {
  content: "\e9ad";
}
.tph-icn-reviews-hexa:before {
  content: "\e9ae";
}
.tph-icn-reviews-light-circle-full:before {
  content: "\e9af";
}
.tph-icn-reviews-light-circle:before {
  content: "\e9b0";
}
.tph-icn-reviews-light-hexa-full:before {
  content: "\e9b1";
}
.tph-icn-reviews-light-hexa:before {
  content: "\e9b2";
}
.tph-icn-save-circle:before {
  content: "\e9b3";
}
.tph-icn-save-hexa:before {
  content: "\e9b4";
}
.tph-icn-save-light-circle-full:before {
  content: "\e9b5";
}
.tph-icn-save-light-circle:before {
  content: "\e9b6";
}
.tph-icn-save-light-hexa-full:before {
  content: "\e9b7";
}
.tph-icn-save-light-hexa:before {
  content: "\e9b8";
}
.tph-icn-save-light:before {
  content: "\e9b9";
}
.tph-icn-settings-circle:before {
  content: "\e9ba";
}
.tph-icn-settings-hexa:before {
  content: "\e9bb";
}
.tph-icn-settings-light-circle-full:before {
  content: "\e9bc";
}
.tph-icn-settings-light-circle:before {
  content: "\e9bd";
}
.tph-icn-settings-light-hexa-full:before {
  content: "\e9be";
}
.tph-icn-settings-light-hexa:before {
  content: "\e9bf";
}
.tph-icn-signout-circle:before {
  content: "\e9c0";
}
.tph-icn-signout-hexa:before {
  content: "\e9c1";
}
.tph-icn-signout-light-circle-full:before {
  content: "\e9c2";
}
.tph-icn-signout-light-circle:before {
  content: "\e9c3";
}
.tph-icn-signout-light-hexa-full:before {
  content: "\e9c4";
}
.tph-icn-signout-light-hexa:before {
  content: "\e9c5";
}
.tph-icn-team-circle:before {
  content: "\e9c6";
}
.tph-icn-team-hexa:before {
  content: "\e9c7";
}
.tph-icn-team-light-circle-full:before {
  content: "\e9c8";
}
.tph-icn-team-light-circle:before {
  content: "\e9c9";
}
.tph-icn-team-light-hexa-full:before {
  content: "\e9ca";
}
.tph-icn-team-light-hexa:before {
  content: "\e9cb";
}
.tph-icn-check-circle:before {
  content: "\e92a";
}
.tph-icn-check-hexa:before {
  content: "\e92b";
}
.tph-icn-check-light-circle-full:before {
  content: "\e92c";
}
.tph-icn-check-light-circle:before {
  content: "\e92d";
}
.tph-icn-check-light-hexa-full:before {
  content: "\e92e";
}
.tph-icn-check-light-hexa:before {
  content: "\e92f";
}
.tph-icn-check-light:before {
  content: "\e930";
}
.tph-icn-check:before {
  content: "\e931";
}
.tph-icn-Plan-de-travail-12 .path1:before {
  content: "\e932";
  color: rgb(225, 229, 235);
}
.tph-icn-Plan-de-travail-12 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(225, 229, 235);
}
.tph-icn-Plan-de-travail-12 .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path9:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path10:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path11:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path12:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path13:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path14:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path15:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path16:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path17:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path18:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path19:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path20:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path21:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-Plan-de-travail-12 .path22:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(206, 210, 219);
}
.tph-icn-phone:before {
  content: "\e948";
}
.tph-icn-team-light:before {
  content: "\e928";
}
.tph-icn-team:before {
  content: "\e929";
}
.tph-icn-logo:before {
  content: "\e927";
}
.tph-icn-benchmarking:before {
  content: "\e900";
}
.tph-icn-company-light:before {
  content: "\e901";
}
.tph-icn-company:before {
  content: "\e902";
}
.tph-icn-costing:before {
  content: "\e903";
}
.tph-icn-help-center-circle:before {
  content: "\e904";
}
.tph-icn-help-center-hexa:before {
  content: "\e905";
}
.tph-icn-help-center-light-circle-full:before {
  content: "\e906";
}
.tph-icn-help-center-light-circle:before {
  content: "\e907";
}
.tph-icn-help-center-light-hexa-full:before {
  content: "\e908";
}
.tph-icn-help-center-light-hexa:before {
  content: "\e909";
}
.tph-icn-help-center-light:before {
  content: "\e90a";
}
.tph-icn-help-center:before {
  content: "\e90b";
}
.tph-icn-mail-circle:before {
  content: "\e90c";
}
.tph-icn-mail-hexa:before {
  content: "\e90d";
}
.tph-icn-mail-light-circle-full:before {
  content: "\e90e";
}
.tph-icn-mail-light-circle:before {
  content: "\e90f";
}
.tph-icn-mail-light-hexa-full:before {
  content: "\e910";
}
.tph-icn-mail-light-hexa:before {
  content: "\e911";
}
.tph-icn-mail-light:before {
  content: "\e912";
}
.tph-icn-mail:before {
  content: "\e913";
}
.tph-icn-reviews-light:before {
  content: "\e914";
}
.tph-icn-reviews .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.tph-icn-reviews .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tph-icn-reviews .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tph-icn-reviews .path4:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tph-icn-rfq:before {
  content: "\e919";
}
.tph-icn-settings-light:before {
  content: "\e91a";
}
.tph-icn-settings:before {
  content: "\e91b";
}
.tph-icn-signout-light:before {
  content: "\e91c";
}
.tph-icn-signout:before {
  content: "\e91d";
}
.tph-icn-sourcing:before {
  content: "\e91e";
}
.tph-icn-user-circle:before {
  content: "\e91f";
}
.tph-icn-user-hexa:before {
  content: "\e920";
}
.tph-icn-user-light-circle-full:before {
  content: "\e921";
}
.tph-icn-user-light-circle:before {
  content: "\e922";
}
.tph-icn-user-light-hexa-full:before {
  content: "\e923";
}
.tph-icn-user-light-hexa:before {
  content: "\e924";
}
.tph-icn-user-light:before {
  content: "\e925";
}
.tph-icn-user:before {
  content: "\e926";
}
