$icomoon-font-path: "fonts" !default;

$tph-icn-check-circle: \e92a;
$tph-icn-check-hexa: \e92b;
$tph-icn-check-light-circle-full: \e92c;
$tph-icn-check-light-circle: \e92d;
$tph-icn-check-light-hexa-full: \e92e;
$tph-icn-check-light-hexa: \e92f;
$tph-icn-check-light: \e930;
$tph-icn-check: \e931;
$tph-icn-Plan-de-travail-1-path1: \e932;
$tph-icn-Plan-de-travail-1-path2: \e933;
$tph-icn-Plan-de-travail-1-path3: \e934;
$tph-icn-Plan-de-travail-1-path4: \e935;
$tph-icn-Plan-de-travail-1-path5: \e936;
$tph-icn-Plan-de-travail-1-path6: \e937;
$tph-icn-Plan-de-travail-1-path7: \e938;
$tph-icn-Plan-de-travail-1-path8: \e939;
$tph-icn-Plan-de-travail-1-path9: \e93a;
$tph-icn-Plan-de-travail-1-path10: \e93b;
$tph-icn-Plan-de-travail-1-path11: \e93c;
$tph-icn-Plan-de-travail-1-path12: \e93d;
$tph-icn-Plan-de-travail-1-path13: \e93e;
$tph-icn-Plan-de-travail-1-path14: \e93f;
$tph-icn-Plan-de-travail-1-path15: \e940;
$tph-icn-Plan-de-travail-1-path16: \e941;
$tph-icn-Plan-de-travail-1-path17: \e942;
$tph-icn-Plan-de-travail-1-path18: \e943;
$tph-icn-Plan-de-travail-1-path19: \e944;
$tph-icn-Plan-de-travail-1-path20: \e945;
$tph-icn-Plan-de-travail-1-path21: \e946;
$tph-icn-Plan-de-travail-1-path22: \e947;
$tph-icn-phone: \e948;
$tph-icn-team-light: \e928;
$tph-icn-team: \e929;
$tph-icn-logo: \e927;
$tph-icn-benchmarking: \e900;
$tph-icn-company-light: \e901;
$tph-icn-company: \e902;
$tph-icn-costing: \e903;
$tph-icn-help-center-circle: \e904;
$tph-icn-help-center-hexa: \e905;
$tph-icn-help-center-light-circle-full: \e906;
$tph-icn-help-center-light-circle: \e907;
$tph-icn-help-center-light-hexa-full: \e908;
$tph-icn-help-center-light-hexa: \e909;
$tph-icn-help-center-light: \e90a;
$tph-icn-help-center: \e90b;
$tph-icn-mail-circle: \e90c;
$tph-icn-mail-hexa: \e90d;
$tph-icn-mail-light-circle-full: \e90e;
$tph-icn-mail-light-circle: \e90f;
$tph-icn-mail-light-hexa-full: \e910;
$tph-icn-mail-light-hexa: \e911;
$tph-icn-mail-light: \e912;
$tph-icn-mail: \e913;
$tph-icn-reviews-light: \e914;
$tph-icn-reviews-path1: \e915;
$tph-icn-reviews-path2: \e916;
$tph-icn-reviews-path3: \e917;
$tph-icn-reviews-path4: \e918;
$tph-icn-rfq: \e919;
$tph-icn-settings-light: \e91a;
$tph-icn-settings: \e91b;
$tph-icn-signout-light: \e91c;
$tph-icn-signout: \e91d;
$tph-icn-sourcing: \e91e;
$tph-icn-user-circle: \e91f;
$tph-icn-user-hexa: \e920;
$tph-icn-user-light-circle-full: \e921;
$tph-icn-user-light-circle: \e922;
$tph-icn-user-light-hexa-full: \e923;
$tph-icn-user-light-hexa: \e924;
$tph-icn-user-light: \e925;
$tph-icn-user: \e926;

