$icomoon-font-path: "fonts" !default;

$tph-icn-benchmarking: "\e900";
$tph-icn-company-light: "\e901";
$tph-icn-company: "\e902";
$tph-icn-costing: "\e903";
$tph-icn-help-center-circle: "\e904";
$tph-icn-help-center-hexa: "\e905";
$tph-icn-help-center-light-circle-full: "\e906";
$tph-icn-help-center-light-circle: "\e907";
$tph-icn-help-center-light-hexa-full: "\e908";
$tph-icn-help-center-light-hexa: "\e909";
$tph-icn-help-center-light: "\e90a";
$tph-icn-help-center: "\e90b";
$tph-icn-mail-circle: "\e90c";
$tph-icn-mail-hexa: "\e90d";
$tph-icn-mail-light-circle-full: "\e90e";
$tph-icn-mail-light-circle: "\e90f";
$tph-icn-mail-light-hexa-full: "\e910";
$tph-icn-mail-light-hexa: "\e911";
$tph-icn-mail-light: "\e912";
$tph-icn-mail: "\e913";
$tph-icn-reviews-light: "\e914";
$tph-icn-reviews-path1: "\e915";
$tph-icn-reviews-path2: "\e916";
$tph-icn-reviews-path3: "\e917";
$tph-icn-reviews-path4: "\e918";
$tph-icn-rfq: "\e919";
$tph-icn-settings-light: "\e91a";
$tph-icn-settings: "\e91b";
$tph-icn-signout-light: "\e91c";
$tph-icn-signout: "\e91d";
$tph-icn-sourcing: "\e91e";
$tph-icn-user-circle: "\e91f";
$tph-icn-user-hexa: "\e920";
$tph-icn-user-light-circle-full: "\e921";
$tph-icn-user-light-circle: "\e922";
$tph-icn-user-light-hexa-full: "\e923";
$tph-icn-user-light-hexa: "\e924";
$tph-icn-user-light: "\e925";
$tph-icn-user: "\e926";

